.top .line{
    border:0px;
    height:2px;
    background:#ff334b;
}
.top .row .load{
    overflow: hidden;
}
.top .row .load .input-group input{
    width:300px;
}
.top .row .load button{
    width:354px !important;
}
.top .row .col-md-6 .input-group .input-group-addon{
    background:#ff334b;
    color:white;
    border:1px solid #ff334b;
}
.top .row .col-md-6 .input-group input{
    border:1px solid #ff334b;
}
.top .row .col-md-6 .input-group input:focus{
    box-shadow:none;
}
.top .row .col-md-6 button{
    background: #ff334b;
    border:1px solid #ff334b;
    color:white;
    width:100%
}
.top .row .col-md-6 button:focus{
    border:1px solid #ff334b;
    outline-style: none;
}
.top .row .col-md-6 .not-regist{
    color:grey;
}